<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <stats goto="dashboard.classes" lgsize="6" mdsize="6" text="4/15/2016" comments="Next scheduled class" colour="primary" type="calendar"></stats>
    <stats goto="dashboard.chart" lgsize="3" mdsize="6" text="3" comments="New reports!" colour="info" type="bar-chart"></stats>
    <stats goto="dashboard.home" lgsize="3" mdsize="6" text="Dina" comments="My Tutor" colour="green" type="user"></stats>

  </div>

  <!-- /.panel -->
  <div class="row">
    <div class="col-lg-8">

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <div ng-show="model.isTutor" class="panel panel-default"> 
        <div class="panel-heading"> Tutor Profile </div>
        <div ng-show="!model.my.tutor" class="panel-body">
          <h4>Complete your tutor profile to start accepting students!</h4> 
          <div class="row">
            <div class="col-md-12">
              <div ng-repeat="c in model.classNames" class="checkbox">
                  <label>
                      <input name="{{c}}" type="checkbox" ng-click="model.toggle(c)" value="{{c}}">{{c}}
                  </label>
              </div>
              <hr>
              <button type="submit" ng-click="model.createTutor()" class="btn btn-success btn-block">Save</button>
            </div>
          </div>
        </div>
        <div ng-show="model.my.tutor" class="panel-body">
          <h4>You've picked the following subjects to tutor in!</h4> 
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group">
                <li ng-repeat="klass in model.my.subjects" class="list-group-item">{{klass}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
